/*********************************************
 * CUSTOM STYLES by Bozydar
 *********************************************/

 .original_img{
    border: 0 !important;
    box-shadow: none !important;
    background: 0 !important
}

.stroke_me_white
{
    -webkit-text-stroke: 2px white !important;
}

.stroke_me_black
{
    -webkit-text-stroke: 2px black !important;
}


.css_button
{
    font-size: 65%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.css_button:hover {
    background-color: #323ba5;
}

.slide_center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.img_desc {
    width: 80%;
    display: inline-block;
    text-align: center;
}

/* https://codemyui.com/animated-gradient-text-effect/ */
.linear-wipe {
    text-align: center;
    background: linear-gradient(to right, #111111 30%, #ff1100 40%, #ff1100 60%, #111111 70%);
    background-size: 200% auto;
    color: #111;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
}

.linear-wipe-longer {
    text-align: center;
    background: linear-gradient(to right, #111111 5%, #ff1100 40%, #ff1100 60%, #111111 95%);
    background-size: 200% auto;
    color: #111;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
}
@keyframes shine {
    to {
        background-position: -200% center;
    }
}

.reveal .slides section .fragment.step-fade-in-then-out {
	opacity: 0;
	display: none;
}

.reveal .slides section .fragment.step-fade-in-then-out.current-fragment {
	opacity: 1;
	display: inline;
}

.reveal .slides section .fragment.step-fade-out {
	opacity: 1;
	display: inline;
    visibility: inherit;
}

.reveal .slides section .fragment.step-fade-out.visible {
	opacity: 0;
	display: none;
    visibility: hidden;
}

.reveal .slides section .fragment.step-fade-in {
	opacity: 0;
	display: none;
    visibility: hidden;
}

.reveal .slides section .fragment.step-fade-in.visible {
	opacity: 1;
	display: inline;
    visibility: inherit;
}

.reveal .fragment.strike.visible {
    text-decoration: line-through;
    text-decoration-thickness: 5px;
}
